body{
    background-color: rgb(238, 248, 248);
}
.div{
    background-color: rgb(4, 29, 29);
    line-gap-override: 0.5em;

}
h5{
    background-color: cornflowerblue;
    color: darkblue;
    text-emphasis: none;
    text-align: left;
    animation: reverse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul li{
    color: black;
    justify-content: space-between;
    background-color: bisque;
    text-align: center;
    list-style: none;
    font-size: large;
}

#main-footer{
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    text-align: center;
}